/* stylelint-disable */
.page__container {
  @include make-container();
  @include make-container-max-widths();
}

.page__row {
  @include make-row();
}

body {
  font-size: 16px;
  font-family: $default-font;
  font-weight: 400;
  color: $white;
  letter-spacing: 0.8px;
}

.title {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}

@include media-breakpoint-down(sm) {
  .title {
    font-size: 25px;
  }
}
