.advantages {
  text-align: center;
  background-color: $dark-blue;
  padding: 74px 0 18px 0;
  .content {
    margin-top: 46px;
    padding: 30px;
  }
  .advantage {
    text-align: left;
    display: flex;
    margin-bottom: 16px;
    .icon {
      margin-right: 34px;
    }
    .title {
      text-align: left;
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .title-22{
      font-size: 22px;
    }
    &__col {
      @include make-col(6);
    }
  }
}

@include media-breakpoint-down(md) {
  .advantages {
    padding: 50px 0;
    .content {
      margin-top: 20px;
      padding: 0 20px;
    }
    .advantage {
      text-align: center;
      display: block;
      padding: 0;
      .icon {
        margin: 20px 0;
      }
      .title {
        text-align: center;
        font-size: 20px;
      }
      &__col {
        @include make-col(12);
      }
    }
  }
}