.consultation {
  color: $black;
  padding: 74px 0;
  text-align: center;
  .sub-title {
    margin-top: 14px;
  }
  .form {
    margin-top: 36px;
  }
  .text {
    border: none;
    border-bottom: 3px solid $black;
    color: $orange;
    min-width: 19%;
  }
  input {
    margin: 0 10px;
  }
  .btn {
    border: 1px solid $orange;
    background-color: $orange;
    color: $white;
    border-radius: 0;
    padding: 4px 44px;
    &:hover {
      background-color: $white;
      color: $orange;
    }
  }
}

@include media-breakpoint-down(md) {
  .consultation {
    padding: 50px 0;
    .btn {
      margin-top: 20px;
    }
    .text {
      padding-top: 10px;
    }
    .form {
      margin: 0;
    }
    input {
      margin: 10px 10px;
    }
  }

}